.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: lightgrey;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.course-list .selected {
  background-color: lightgreen;
  color: darkgreen;
}

.course-list .conflict {
  background-color: lightpink;
  color: white;
  cursor: not-allowed;
}
.course-list .conflict:hover {
  background-color: lightcoral;
}
